@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Righteous&display=swap');

:root{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    --logo-color:#4c5052;
}
body {
    margin: auto;
}
.hotel_wrapper{
    background-color: #ececec;
}

.hotel_wrapper > .hotel_wrapper_pad > .hotel_list h3 {
    padding-bottom: 20px;
}
.hotel_wrapper_pad{
    padding-bottom: 20px;
}
.container{
    max-width: 980px;
    margin: 0 auto;
}
h1, h2, h3, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
}
header nav .menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}
header nav .menu a {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 5px;
    color: black;
    word-wrap: break-spaces;
}
header nav .menu a:hover{
    border-bottom: 1px solid black;
    transition: 1s;
}
header h2{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 2rem;
    color: var(--logo-color);
}
.banner h3{
    text-align: center;
    font-size: 1rem;
}
.header_wrapper{
    background-color: #fdffff;
}

.name_hotel{
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
main .hotel_list img{
    display: block;
    width: 100%;
}
main .hotel_list h3{
    text-align: center;
    padding-bottom: 5px;
}
main .btn-cart{
     margin-top: 5px;
     display: flex;
     justify-content: space-around;
 }
.card_button {
      color: #494949;
      text-transform: uppercase;
      text-decoration: none;
      background: #ffffff;
      padding: 3px;
      border: 1px solid #494949;
      border-radius: 5px;
      transition: all 0.4s ease 0s;
  }
.card_button:hover{
      color: #ffffff;
      background: #f6b93b;
      border-color: #f6b93b;
      transition: all 0.4s ease 0s;
  }
@media (min-width: 800px) {
      main .hotel_list{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
      }

    header nav .menu a {
        font-size: 25px;
    }
      .about_us_list{
          display: flex;
          justify-content: space-around;
      }
      .sponsor-cart{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 5px;
      }
      header h2{
          font-size: 4rem;

      }
      .banner h3{
          font-size: 1rem;
          padding-bottom: 60px;
      }
      .banner h2{
          padding-top: 60px;
      }
  }
@media (min-width: 1200px) {
    main .hotel_list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

    }

    header nav .menu a {
        font-size: 25px;
    }
    .sponsor-cart{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 5px;
    }
}
hr{
    margin-left: 20%;
    margin-right: 20%;
}
.about_us{
    display: flex;
    background-color: #e6f3f9;
}
main .about_us_text{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 40px;
}
.about_us_list{
    margin-top: 10px;
}
.icon img{
    display: block;
    margin: 0 auto;
}
.about_cart>.text_about{
    text-align: center;
}
.about_wrapper{
    margin-top: 20px;
    padding-bottom: 20px;
}
.sponsor{
 background: url("../img/bg_sponsor.jpg")center center/cover no-repeat;
}
.sponsor-cart{
    padding-top: 100px;
    padding-bottom: 40px;
}
.logo_sponsor img{
   margin: 0 auto;
}

.logo_sponsor {
    display: flex;
    margin: 0 auto;
}

.form button {
    margin-bottom: 20px;
}

.form-container {
    padding-top: 50px;
}

.contact > .container > .contact-main > .button-transform {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 500px;
}

.contact > .container > .contact-main > .button-transform:focus {
    -webkit-animation: scaleme 1s;
}

@-webkit-keyframes scaleme {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(3);
        opacity: 0;
        display: none;
    }
}

.contact > .container > .contact-main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.footer{
    background-color: #a5936f;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer .contact{
    padding-right: 60px;
}